<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script type="text/javascript" src="/webjars/jquery/2.2.3/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />

<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-block">
            <a class="btn btn-secondary" href="add">Add Customer</a>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>ProductName</th>
							<th>Description</th>
							<th>CatagoryId</th>
							<th>Unit</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product :${obj}">
							<td th:text="${product.id}"></td>
							<td th:text="${product.name}"></td>
							<td th:text="${product.description}"></td>
							<td th:text="${product.catagoryid}"></td>
							<td th:text="${product.unit}"></td>
							<td th:text="${product.price}"></td>
							<td><a href="#" data-troggle="modal" data-target="exampleModal" class="btn btn-primary eBtn">Edit</a></td>
							<td><a th:href="@{delete/(id=${product.id})}" class="btn btn-danger">Delete</a></td>
							
							<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-what="th:text='${product.id}'" data-nam="mic">Edit</button></td>
							
						</tr>
					</tbody>
				</table>
              
			</div>

		</div>
		<div class="myform">
		     <form th:action="@{/save}"  method="post">
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel"></h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							
								<div class="form-group">
									<label for="id" class="form-control-label">ID:</label>
									<input type="text" class="form-control" id="id" name="id"/>
								</div>
								<div class="form-group">
									<label for="name" class="form-control-label">Name:</label>
									<input type="text" class="form-control" id="name" name="name"/>
								</div>
								<div class="form-group">
									<label for="address" class="form-control-label">Address:</label>
									<input type="text" class="form-control" id="address" name="address"/>
								</div>
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary" value="save">Save</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>

	<script>
     function myFunction() {
    	 if(confirm("Do you want to delete"))		 
    	 
       $("#demo").html("Paragraph changed.") ;
     }
     $(".eBtn").on("click",     function (){
    	 $('.myform').modal() ;
     })
    
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('what')
  var recipient1 = button.data('nam')// Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Edit your Info')
  modal.find('.modal-body input').val(recipient)
})
     
</script>
</body>
</html>