<html>
   <head>
      <title>Spring MVC Form Handling</title>
      <style>
      


.center {
    margin:2px 300px;
    width: 60%;
   
    padding: 100px;
}
h2{
padding: 30px;
}
a{
padding: 30px;
text-decoration: none;
}
button{
margin:5px;

}
</style>
   </head>
   <body>
   <div class="center">

      <h2>Inventory System</h2>
      
      <a href="customer/">Customer information</a>
      <a href="product/">Product</a>
      <button><a href="#">Stock</a></button>
      <button><a href="#">Sales</a></button>
      <button><a href="#">purchase</a></button>
      
            
      
      
    
      
     
     </div>
   </body>
</html>